# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production.local', 'production', 'test'
PORT="4000"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:3001;http://localhost:3000" # Allowed CORS origin separated by ';', adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# MongoDB Configuration
MONGO_URL=mongodb://localhost:27017/Ball-Game

# JWT Configuration
JWT_SECRET_KEY=mySecret
JWT_EXPIRES_IN=1d

# Bcrypt Configuration
BCRYPT_SALT_ROUNDS=10

# SESSION_SECRET
SESSION_SECRET=session_secret32d223d23d2

# OPENAI
OPENAI_API_KEY=

# TWITTER
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_API_SECRET=
TWITTER_API_KEY=
TWITTER_REDIRECT_URI=http://localhost:4000/api/twitter/callback

# RAPIDAPI
RAPIDAPI_KEY=

# REDIS
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379